@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Karan Books Store</h1>
    <p>Books are good freinds </p>
</div>
<iframe width="900" height="506" src="https://www.youtube.com/embed/qcwuUl_-Iho?autoplay=1&mute=1" ></iframe>